{%  extends 'blog/base.html'  %}

{% block title %}{{ block.super }} - Login {% endblock %}

{%  block content  %}

    <h1>Login</h1>

        {% if form.errors %}
            <p>Your username and password didn't match. Please try again.</p>
        {% endif %}

        <div class="card bg-dark text-white mb-3" style="max-width: 25rem; margin: auto;">
            <div class="card-header">
                <h3 class="card-title">Autenticação</h3>
            </div>
            <div class="card-body">
                <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}    
                    <table>
                        <tr>
                            <td>{{ form.username.label_tag }}</td>
                            <td>{{ form.username }}</td>
                        </tr>
                        <tr>
                            <td>{{ form.password.label_tag }}</td>
                            <td>{{ form.password }}</td>
                        </tr>
                        <tr><td></td></tr>
                        <tr>
                            <td></td>
                            <td><input type="submit" value="login" /></td>
                        </tr>
                    </table>

                    <input type="hidden" name="next" value="{{ next }}" />
                </form>
            </div>
            <div class="card-footer">
                <p class="card-text">Não possui uma conta?
                <a href="">registre-se</a></p>
            </div>
        </div>

{%  endblock  %}