{% extends 'blog/base.html' %}

{% block title %}{{ block.super }} - Home {% endblock %}

{% block content %}
    <h1>GRÊMIO FOOT-BALL PORTO ALEGRENSE</h1>
    <ul>
        <li>Nome: Grêmio Foot-Ball Porto Alegrense;</li>
        <li>Estádio: Arena do Grêmio;</li>
        <li>Fundação: 15/09/1903;</li>
        <li>Mascote: Mosqueteiro;</li>
        <li>Cidade-Sede: Porto Alegre;</li>
    </ul>

    <p>
        Grêmio Foot-Ball Porto Alegrense é um clube de futebol brasileiro
        sediado na cidade de Porto Alegre,
        Rio Grande do Sul. Fundado em 15 de setembro de 1903.
        Suas cores são azul, preto e branco.
        O clube tem como alcunhas Imortal Tricolor, Tricolor dos Pampas,
        Tricolor Gaúcho e Rei de Copas, devido ao seu histórico especialmente
        vitorioso em competições de mata-mata.</p>
        
{% endblock %}