
@font-face {
  font-family: typewriter;
  src: url('../fonts/TYPEWR__.TTF');
}

@font-face{
  font-family: typewriter-black;
  src: url('../fonts/TYPEWR_B.TTF');
}

@font-face{
  font-family: greatfighter;
  src: url('../fonts/Great\ Fighter\ Demo.ttf');
}

@font-face{
  font-family: singlefighter;
  src: url('../fonts/SINGLE\ FIGHTER.otf');
}

header, section, aside, nav, footer, article, figure, figcaption {
  display: block;
}

article{
  padding-bottom: 20px;
  max-height: 470px; 
}

aside{

  float: left;
  width: 300px;
  min-height: 600px;
  max-height: 650;
  background-color: #9ec2e3;
  border-left: solid 1px;
}

aside ul li a{
  color: #000;
}

body{
  margin: 0px;
  background-color: #6cb7e7;
}

header{
  height: 170px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  text-align: center;
  color: #3866CD;
  width: 100%;
  background-color: #ffffff;
  padding: 5px 0px 0px 0px;
}

header h1 {

  font-family: greatfighter;
}

picture{
  float: left;
  margin-left: 10px;
  margin-bottom: 10px;
}

section{
  padding: 30px;
  color: #fff;
  width: 1000px;
  float: left;
  border: 1px;
  min-height: 600px;
  max-height: 650;
  overflow: auto;
  background-color: #9ec2e3;
  background-image: url('../img/back.jpg');
}

table{
  margin: auto;
}

table caption{
  color: #fff;
  margin-left: 820px;
}

th{
  width: 100px;
  padding: 5px;
}



nav{
  text-align: left;
  padding: 0px;
  height: 60px;
  border-radius: 5px;
  clear: both;
}

footer{
  height: 250px;
  text-align: left;
  display: inline-block;
  clear: both;
  color: #fff;
  width: 100%;
  min-width: 1300px;
  background: #0f6dc4;
}

.ano{
  width: 250px;
}

.camp{
  width: 200px;
}

.card-text a{
  color: rgb(83, 155, 250);
}
.card-title a{
  color: #fff;
  font-family: 'Lobster';
}
.conteudo{
  clear: both;
  margin-top: 30px;
  overflow: auto;
}

.date {
  color: #828282;
}

.direita{
  float: right;
  width: 300px;
}

.esquerda{
  float: left;
    width: 200px;
}

.estadios{
  float: left;
  padding: 30px;
}

.forms{
  width: 600px;
  float: left;
  margin: 10px 30px 10px 30px;
}

.h3{
  text-align: left;
}

.link{
    color: #fff;
}

.linkedin{
  
  min-height: 300px;
  
}

.meucarro{
  float: left;
  max-width: 400px;
}

.my-form{
    margin-left: 300px;
    width: 260px;
}

.page{
  min-width: 1300px;
  max-width: 1300px;
  margin: 0px auto 0px auto;
  padding: 0px;
  background-color: #6cb7e7;
}

.post{
    margin-bottom: 30px;
}

.rodape{
  padding: 10px;
  float: left;
  width: 40%;
  border-right: solid 1px;
  height: 100%;
}

.side-links{
  background-image: url('../img/gremio.png');
  max-height: 600px;
  min-height: 197px;
  padding: 15px 0px 0px 20px;
  
  font-family: greatfighter;
  color: #000;
}
